.title {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    margin: 0 0 0 var(--globalMargin);
}

@media screen and (max-width:736px) {
    .title {
        font-size: 30px;
    }
}