.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin-left: var(--globalMargin);
}

.logo {
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

.container nav a {
    color: #AAA;
    margin-right: 10px;
}

.container nav a:hover {
    color: #FFF;
}

.icon {
    font-size: 2.7rem;
    margin-right: 7vw;
}

@media screen and (min-width:769px){
    .icon {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .container nav a {
        display: none;
    }
}